<!doctype html>
<html lang="en">

{% include 'partials/head.html' %}

<body>

    <div class="root home-page">

        {% include 'partials/header.html' %}

        <div class="site-main">
            <section class="home-slider-wrap">
                <div class="home-slider">
                    <div class="home-slide"><img src="./img/bg.png" alt=""></div>
                    <div class="home-slide"><img src="./img/bg.png" alt=""></div>
                    <div class="home-slide"><img src="./img/bg.png" alt=""></div>

                </div>
                <div class="home-slider-content">
                    <div class="container">
                        <h1 class="slider__title">КУХНИ НА ЗАКАЗ</h1>
                        <div class="slider__subtitle">Стильная кухня от производителя по цене на 20% ниже рынка</div>
                        <ul class="slider__list">
                            <li class="slider__list-item">Бесплатный дизайн проект</li>
                            <li class="slider__list-item">Гарантия лучшей Цены</li>
                            <li class="slider__list-item">Производство от 25 до 45 дней</li>
                            <li class="slider__list-item">Гарантийное обслуживание 5 лет</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="services">
                <div class="container">
                    <h2 class="services__title">Все еще не можете определиться с выбором кухни?</h2>
                    <span class="line"></span>
                    <div class="services__inner">
                        <div class="services__card">
                            <div class="card-img"><img src="./img/card-1.png" alt="" class="services__card-img"></div>

                            <h3 class="services__card-title">Получите консультацию и эскиз мебели</h3>
                        </div>
                        <div class="services__card">
                            <div class="card-img"><img src="./img/card-2.png" alt="" class="services__card-img"></div>
                            <h3 class="services__card-title">Подберем материалы сочетая цену и качество</h3>
                        </div>
                        <div class="services__card">
                            <div class="card-img"><img src="./img/card-3.png" alt="" class="services__card-img"></div>
                            <h3 class="services__card-title">Подберем фурнитуру для удобства и комфорта</h3>
                        </div>
                        <div class="services__card">
                            <div class="card-img"><img src="./img/card-4.png" alt="" class="services__card-img"></div>
                            <h3 class="services__card-title">Разработаем бесплатно 3D проект</h3>
                        </div>
                    </div>
                </div>
            </section>

            <section class="kitchen">
                <div class="container">
                    <div class="kitchen__inner">
                        <h2 class="kitchen__title">Закажи Кухню</h2>
                        <span class="line"></span>
                        <div class="subtitle">Получи</div>
                        <span class="bg-yellow">Посудомоечную Машину</span>
                        <div class="subtitle-two">В подарок</div>
                        <div class="action-img">
                            <img src="./img/Group-kitchen.png" alt="">
                        </div>

                        <div class="timer">
                            <div class="timer__items">
                                <div class="timer__item"><span class="timer__days">00</span>
                                    <div class="time">Дней</div>
                                </div>
                                <div class="timer__item "><span class="timer__hours">00</span>
                                    <div class="time">Часов</div>
                                </div>
                                <div class="timer__item"><span class="timer__minutes">00</span>
                                    <div class="time">Минут</div>
                                </div>
                                <div class="timer__item"><span class="timer__seconds">00</span>
                                    <div class="time">Секунд</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="work">
                <div class="container">
                    <h2 class="work__title">Наши работы</h2>
                    <span class="line"></span>

                    <div class="work__inner">
                        <div class="work__card">
                            <a href="#" class="work__card-link">
                                <div class="work__card-img"><img src="./img/work.jpg" alt=""></div>
                                <div class="card-text">
                                    <h3 class="work__card-title">Severin</h3>
                                    <span class="work__card-item">
                                        <div class="sale">11 654 ЛЕЙ / МЕСЯЦ</div>
                                        <div class="sale-two">БЕЗ ПЕРВОГО ВЗНОСА - 12 месяцев</div>
                                    </span>
                                </div>

                            </a>
                        </div>
                        <div class="work__card">
                            <a href="#" class="work__card-link">
                                <div class="work__card-img"><img src="./img/work.jpg" alt=""></div>
                                <div class="card-text">
                                    <h3 class="work__card-title">Severin</h3>
                                    <span class="work__card-item">
                                        <div class="sale">11 654 ЛЕЙ / МЕСЯЦ</div>
                                        <div class="sale-two">БЕЗ ПЕРВОГО ВЗНОСА - 12 месяцев</div>
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="work__card">
                            <a href="#" class="work__card-link">
                                <div class="work__card-img"><img src="./img/work.jpg" alt=""></div>
                                <div class="card-text">
                                    <h3 class="work__card-title">Severin</h3>
                                    <span class="work__card-item">
                                        <div class="sale">11 654 ЛЕЙ / МЕСЯЦ</div>
                                        <div class="sale-two">БЕЗ ПЕРВОГО ВЗНОСА - 12 месяцев</div>
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="work__card">
                            <a href="#" class="work__card-link">
                                <div class="work__card-img"><img src="./img/work.jpg" alt=""></div>
                                <div class="card-text">
                                    <h3 class="work__card-title">Severin</h3>
                                    <span class="work__card-item">
                                        <div class="sale">11 654 ЛЕЙ / МЕСЯЦ</div>
                                        <div class="sale-two">БЕЗ ПЕРВОГО ВЗНОСА - 12 месяцев</div>
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="work__card">
                            <a href="#" class="work__card-link">
                                <div class="work__card-img"><img src="./img/work.jpg" alt=""></div>
                                <div class="card-text">
                                    <h3 class="work__card-title">Severin</h3>
                                    <span class="work__card-item">
                                        <div class="sale">11 654 ЛЕЙ / МЕСЯЦ</div>
                                        <div class="sale-two">БЕЗ ПЕРВОГО ВЗНОСА - 12 месяцев</div>
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="work__card">
                            <a href="#" class="work__card-link">
                                <div class="work__card-img"><img src="./img/work.jpg" alt=""></div>
                                <div class="card-text">
                                    <h3 class="work__card-title">Severin</h3>
                                    <span class="work__card-item">
                                        <div class="sale">11 654 ЛЕЙ / МЕСЯЦ</div>
                                        <div class="sale-two">БЕЗ ПЕРВОГО ВЗНОСА - 12 месяцев</div>
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="work__card">
                            <a href="#" class="work__card-link">
                                <div class="work__card-img"><img src="./img/work.jpg" alt=""></div>
                                <div class="card-text">
                                    <h3 class="work__card-title">Severin</h3>
                                    <span class="work__card-item">
                                        <div class="sale">11 654 ЛЕЙ / МЕСЯЦ</div>
                                        <div class="sale-two">БЕЗ ПЕРВОГО ВЗНОСА - 12 месяцев</div>
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="work__card">
                            <a href="#" class="work__card-link">
                                <div class="work__card-img"><img src="./img/work.jpg" alt=""></div>
                                <div class="card-text">
                                    <h3 class="work__card-title">Severin</h3>
                                    <span class="work__card-item">
                                        <div class="sale">11 654 ЛЕЙ / МЕСЯЦ</div>
                                        <div class="sale-two">БЕЗ ПЕРВОГО ВЗНОСА - 12 месяцев</div>
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="work__card">
                            <a href="#" class="work__card-link">
                                <div class="work__card-img"><img src="./img/work.jpg" alt=""></div>
                                <div class="card-text">
                                    <h3 class="work__card-title">Severin</h3>
                                    <span class="work__card-item">
                                        <div class="sale">11 654 ЛЕЙ / МЕСЯЦ</div>
                                        <div class="sale-two">БЕЗ ПЕРВОГО ВЗНОСА - 12 месяцев</div>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <button class="more">Раскрыть Ещё</button>
                </div>
            </section>

            <section class="benefits">
                <div class="container">
                    <h2 class="benefits__title">Наши преимущества</h2>
                    <span class="line"></span>
                    <div class="benefits-wrap">
                        <div class="benefits__item">
                            <div class="best-price"></div>
                            <h3 class="item-title">ГАРАНТИЯ ЛУЧШЕЙ ЦЕНЫ</h3>
                            <p class="item-text">Мы производители, поэтому сможем предложить вам лучшую стоимость под
                                ваш запрос.</p>
                        </div>
                        <div class="benefits__item">
                            <div class="credit-card"></div>
                            <h3 class="item-title">ОПЛАТА В
                                РАССРОЧКУ</h3>
                            <p class="item-text">Получи сейчас желаемую кухню без аванса и первоначального взноса,
                                оплачивайте равными платежами в течение 12 месяцев.</p>
                        </div>
                        <div class="benefits__item">
                            <div class="schedule"></div>
                            <h3 class="item-title">ГАРАНТИЯ ЛУЧШЕЙ ЦЕНЫ</h3>
                            <p class="item-text">Произведем вашу кухню по индивидуальному проекту за 25 - 45 дней.</p>
                        </div>
                        <div class="benefits__item">
                            <div class="shield"></div>
                            <h3 class="item-title">ГАРАНТИЯ ЛУЧШЕЙ ЦЕНЫ</h3>
                            <p class="item-text">Мы гарантируем 100% качество без брака. Проводим пробный монтаж кухни в
                                цеху, проверяя тем самым ее качество и все детали.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="record-kitchen">

                <div class="record-kitchen-bg"></div>
                <div class="record-kitchen-text">
                    <div class="container">
                        <h2 class="record-kitchen__title">Закажи кухню</h2>
                        <span class="black">и получи 10% скидку</span>
                        <p class="record-text">на всю бытовую технику в сети Bomba и Maximum</p>
                        <button class="record-btn">Заказать Кухню</button>
                    </div>
                </div>

            </section>
            <section class="kitchen-video">
                <div class="container">
                    <h2 class="kitchen-video__title">Наши видео кейсы</h2>
                    <span class="line"></span>
                    <div class="video-wrap">
                        <div class="video-item">
                            <iframe src="https://www.youtube.com/embed/TWAgV_JfN0I" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="video-item"><iframe width="296" height="170"
                                src="https://www.youtube.com/embed/TWAgV_JfN0I" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe></div>
                        <div class="video-item"><iframe width="296" height="170"
                                src="https://www.youtube.com/embed/TWAgV_JfN0I" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe></div>
                    </div>
                </div>
            </section>

            <section class="mask">
                <div class="bg-mask">
                    <div class="container">
                        <div class="mask__inner">
                            <h2 class="mask__title">Получите бесплатно дизайн проект кухни и консультацию дизайнера</h2>
                            <p class="mask-text">Вы узнаете точную стоимость вашей кухни и получите 3D-проект</p>
                            <input class="mask-tel" type="tel" placeholder="Ваш телефон">
                            <button class="mask-btn">Записаться</button>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mission">
                <div class="container">
                    <h2 class="mission__title">Миссия Amatto</h2>
                    <span class="line"></span>
                    <p class="mission__text">Мы стремимся создать идеальное пространство в котором человеку будет
                        комфортно находиться, отдыхать, готовить и весело проводить время со своими друзьями и близкими
                    </p>
                    <div class="mission__video"><iframe src="https://www.youtube.com/embed/1g4ZVilOpL4"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe></div>
                </div>
            </section>

            <section class="calc">
                <div class="container">
                    <h2 class="calc__title">Покупай в рассрочку!</h2>
                    <span class="line"></span>
                </div>
                <div class="container">
                    <div class="calc__inner">
                        <div class="calc__wrap">
                            <div class="container">
                                <p class="calc__text">Ваша новая кухня без денег и предоплаты!</p>
                                <ul class="calc__list">
                                    <li class="calc__item">рассрочка 12 месяцев</li>
                                    <li class="calc__item">без комиссии и процентов</li>
                                </ul>
                            </div>
                            <form class="form">
                                <div class="container">
                                    <label class="label-text" for="budget">Ваш Бюджет € :</label>
                                    <input type="number" id="budget" class="budget">
                                    <label for="period" class="label-text">Промежуток Рассрочки В Месяцах :</label>
                                    <input type="number" id="period" class="period">
                                    <label for="contribution" class="label-text">Первоначальный Взнос %</label>
                                    <input type="number" class="contribution" id="contribution">
                                </div>
                                <div class="bg">
                                    <div class="container">
                                        <label for="month" class="semibold-text">ЕЖЕМЕСЯЧНЫЙ ПЛАТЁЖ:</label>
                                        <span id="month" class="month">0</span>
                                    </div>
                                </div>
                                <div class="container">
                                    <input type="text" class="name" name="name" placeholder="Введите Ваше имя">
                                    <input type="text" class="tel" name="phone" placeholder="Введите Ваш телефон">
                                    <button class="calc__send">Отправить заявку на рассрочку</button>
                                </div>
                            </form>
                        </div>
                        <div class="calc__img">
                            <img src="./img/calc.jpg" alt="">
                        </div>
                    </div>
                </div>
            </section>
        </div>

        {% include 'partials/footer.html' %}

    </div>

    {% include 'partials/modal.html' %}

    {% include 'partials/javascripts.html' %}

</body>

</html>