.kitchen {
    background-image: url('../img/bg-kitchen.jpg');
    background-position: center;
    height: 643px;
    margin-top: 55px;
    padding-top: 60px;
    background-size: cover;
    position: relative;

    @include media ('>=xl') {
        height: 492px;
        margin-top: 65px;
    }

    &__title {
        font-family: $font-header;
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        text-align: center;

        @include media ('>=xl') {
            font-size: 43px;
            line-height: 52px;
        }
    }

    &__inner {
        @include media ('>=xl') {
            margin-left: 550px;
        }
    }
}

.subtitle {
    font-family: $font-header;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    margin-top: 55px;

    @include media ('>=xl') {
        font-size: 32px;
        line-height: 39px;
        margin-top: 35px;
    }
}

.subtitle-two {
    font-family: $font-header;
    font-size: 35px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    margin-top: 13px;

    @include media ('>=xl') {
        font-size: 36px;
        line-height: 44px;
    }
}

.bg-yellow {
    font-size: 20px;
    line-height: 24px;
    font-family: $font-text;
    color: #39373A;
    ;
    display: block;
    text-align: center;
    background-color: $yellow;
    border-radius: 100px;
    padding: 8px 30px;
    width: 299px;
    margin-left: -10px;
    margin-top: 10px;

    @include media ('>=md') {
        margin-left: 190px;
    }

    @media (min-width: 990px) {
        margin-left: 320px;
    }

    @include media ('>=xl') {
        width: 358px;
        margin-left: 270px;
    }
}

.action-img {
    width: 320px;
    height: 197px;
    position: absolute;
    bottom: 0;
    left: 0;

    @include media ('>=md') {
        width: 400px;
        bottom: 49px;
    }

    @include media ('>=xl') {
        width: 798px;
        height: 492px;
        bottom: 0;
    }
}

.action-img img {
    width: 100%;
    height: auto;

}


.timer__items {
    display: flex;
    background-color: $yellow;
    border-radius: 15px;
    margin-top: 50px;

    @include media ('>=md') {
        width: 296px;
        margin-left: 200px;
    }

    @media (min-width: 990px) {
        margin-left: 320px;
    }


    @include media ('>=xl') {
        width: 388px;
        margin-top: 26px;
        margin-left: 255px;
    }
}

.timer__item {
    position: relative;

    margin-left: 17px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    @include media ('>=md') {
        margin-left: 25px;
    }

    @include media ('>=xl'){
        font-size: 30px;
        line-height: 36px;
        margin-left: 34px;
    }
}

.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
}

.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    right: -15px;
}

.time {
    font-size: 14px;
    line-height: 17px;

    @include media ('>=xl') {
        font-size: 16px;
        line-height: 19px;
    }
}