<header class="site-header">
    <div class="container">
        <div class="site-header__inner">
            <a href="#" class="site-header__logo"><img src="./img/logo.svg" alt=""></a>
            <div class="nav-burger "></div>
            <nav class="nav nav--desktop">
                <span class="nav-close"></span>
                <ul class="nav__list">
                    <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Рассрочка</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Блог</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
                </ul>
                <a href="tel:+37368159759" class="phone">+373 68 159 759</a>
                <span class="lang">
                    <span class="ru">Ru</span>
                    <span class="en">En</span>
                </span>
            </nav>
        </div>
    </div>
</header>